 * {
    outline: 2px solid red;
}

/* Custom Fonts for better appearance */ 
@font-face {
    font-family: MyFont1;
    src: url("./fonts/MainFont.ttf");
}



/* fuk */
body { 
    height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
}


/*The Page that holds all dingle berries*/
.MainPage { 
    height: 100vh; 
    border: 0;
    margin: 0;
    display: grid; 
    grid-template-columns: minmax(600px, 1fr);
    justify-items: center;
    align-items: center;
}



/* The Starting Page of the Game */
.TitleScreenPage { 
    padding: 0;
    height: 600px;
    width: 600px;
    display: none;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr 100px 60px 1fr;
    justify-items: center;
    align-items: center;
}

#TitlePage-title { 
    font-family: MyFont1;
    font-size: 64px;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
    width: 400px;
    height: 75px;

}

#titlePage-button { 
    width: 100px; 
    height: 100px;
    border: none;
    padding: 0;
    font-family: MyFont1;
    grid-row: 3;
    grid-column: 2;
    font-size: 100px;
    color: red;
    background: none;
    text-align: center;
    cursor: pointer;
}

#titlePage-button:hover {
    color: rgb(102, 181, 255);
    transform: translateY(2px);
}
























/* User Settings Page */
.UserInfoChoicePage { 
    padding: 0;
    height: 600px;
    width: 600px;
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 120px 300px 1fr;
    justify-items: center;
}

#UserInfo-TitleHeader { 
    font-family: MyFont1;
    font-size: 40px;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
    width: 500px;
    height: 100px;
}






/* Form Username */
#UserForm-FormName { 
    width: 500px;
    height: 300px;
    grid-row: 3; 
    grid-column: 2;
    display: none;
    align-items: center;
    justify-items: center;
    align-content: start;
    gap: 5px;
    grid-template-rows: 50px 20px;
    grid-template-columns: 1fr 300px 1fr;
}

#UserInfo-UserLabel { 
    font-family: MyFont1;
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
}

#UserInfo-Name { 
    width: 250px;
    height: 35px;
    text-align: start;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 24px;
    grid-row: 2;
    grid-column: 2;
}

#UserInfo-Name:hover { 
    background-color: rgb(0, 191, 255, 0.05);
}








/* Form Profile Picture */
#UserForm-FormPFP { 
    width: 500px;
    height: 300px;
    grid-row: 3; 
    grid-column: 2;
    display: none;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100px 100px; 
    grid-template-columns: 1fr 400px 1fr;
}

.FormPFP-ImageBox { 
    grid-row: 2;
    grid-column: 2;
    width: 400px;
    height: 150px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-items: center;
    justify-content: center;
}

input[type = "image"] { 
    width: 75px;
    height: 75px;
}








/* Form Color Pick */
#UserForm-FormColor { 
    width: 500px;
    height: 300px;
    grid-row: 3; 
    grid-column: 2;
    display: none;
    align-items: center;
    justify-items: center;
    grid-template-rows: 50px 60px 60px;
    grid-template-columns: 1fr 500px 1fr;
}

#UserInfo-Color { 
    grid-row: 2;
    grid-column: 2;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 100px;
    background: none;
    background-color: white;
    cursor: pointer;
}

#UserForm-ColorButton { 
    grid-row: 3;
    grid-column: 2;
    border: 0.5px solid black;
    border-radius: 20px;
    font-family: MyFont1;
    background: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#UserForm-ColorButton:hover { 
    background-color: rgb(0, 191, 255, 0.05);
}

#UserForm-ColorButton:active { 
    background-color: rgba(0, 158, 211, 0.1);
}
























/* Round Selections for the Game */
.RoundChoicePage { 
    padding: 0;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 120px 75px 100px 1fr;
    justify-items: center;
}

#RoundChoice-Header {
    grid-row: 2;
    grid-column: 2;
    font-family: MyFont1;
    font-size: 26px;
    width: 300px;
    text-align: center;
}

#RoundChoice-Input { 
    grid-row: 3;
    grid-column: 2;
    font-size: 24px;
    text-align: start;
    padding-left: 10px;
    font-family: MyFont1;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#RoundChoice-Button { 
    grid-row: 4;
    grid-column: 2;
    width: 50px;
}






















/* Game Page */
.GamePage {
    display: none;
}





















/* Player Wins Page */
.GameWinPage { 
    display: none;
}



















/* Player loses Page */ 
.GameLosePage {
    display: none;
}






















/* Summary of the Game */
.GameSummaryPage { 
    display: none;
}

























/* Player can play again OR Leave the game entirely */
.PlayAgainPage { 
    display: none;
}