
   {
    outline: 2px solid red;
}


/* Custom Fonts for better appearance */ 
@font-face {
    font-family: MyFont1;
    src: url("./fonts/MainFont.ttf");
}



/* fuk */
body { 
    height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
}


/*The Page that holds all dingle berries*/
.MainPage { 
    height: 100vh; 
    border: 0;
    margin: 0;
    display: grid; 
    grid-template-columns: minmax(600px, 1fr);
    justify-items: center;
    align-items: center;
}



/* The Starting Page of the Game */
.TitleScreenPage { 
    padding: 0;
    height: 600px;
    width: 600px;
    display: none;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr 100px 60px 1fr;
    justify-items: center;
    align-items: center;
}

#TitlePage-title { 
    font-family: MyFont1;
    font-size: 64px;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
    width: 400px;
    height: 75px;

}

#titlePage-button { 
    width: 100px; 
    height: 100px;
    border: none;
    padding: 0;
    font-family: MyFont1;
    grid-row: 3;
    grid-column: 2;
    font-size: 100px;
    color: rgb(102, 181, 255);
    background: none;
    text-align: center;
    cursor: pointer;
}

#titlePage-button:hover {
    color: rgb(48, 155, 255, 0.5);
}

#titlePage-button:active {
    color: rgba(0, 132, 255, 0.5);
}






















/* User Settings Page */
.UserInfoChoicePage { 
    padding: 0;
    height: 600px;
    width: 600px;
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 120px 300px 1fr;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#UserInfo-TitleHeader { 
    font-family: MyFont1;
    font-size: 40px;
    text-align: center;
    align-content: center;
    grid-row: 2;
    grid-column: 2;
    width: 500px;
    height: 100px;
}






/* Form Username */
#UserForm-FormName { 
    width: 500px;
    height: 300px;
    grid-row: 3; 
    grid-column: 2;
    display: none;
    align-items: center;
    justify-items: center;
    align-content: start;
    grid-template-rows: 80px 20px 80px;
    grid-template-columns: 1fr 300px 1fr;
}

#UserInfo-UserLabel { 
    font-family: MyFont1;
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
}

#UserInfo-Name { 
    width: 250px;
    height: 35px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 24px;
    font-family: MyFont1, Arial;
    grid-row: 2;
    grid-column: 2;
}

#SubmitNameButton { 
    grid-row: 3;
    grid-column: 2;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
    font-family: MyFont1;
    font-size: 10px;
}

#SubmitNameButton:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#SubmitNameButton:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}








/* Form Profile Picture */
#UserForm-FormPFP { 
    width: 500px;
    height: 300px;
    grid-row: 3; 
    grid-column: 2;
    display: none;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100px 100px 100px; 
    grid-template-columns: 1fr 400px 1fr;
}

.FormPFP-ImageBox { 
    grid-row: 2;
    grid-column: 2;
    width: 400px;
    height: 150px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px;
    gap: 15px;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

#UserInfo-ApplePFP, #UserInfo-InvaderPFP, #UserInfo-StarPFP{ 
    width: 120px;
    height: 120px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

#UserInfo-ApplePFP:hover, 
#UserInfo-InvaderPFP:hover, 
#UserInfo-StarPFP:hover { 
    box-shadow: 0 5px 7px rgb(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

#SubmitPFPButton { 
    grid-row: 3;
    grid-column: 2;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
    font-family: MyFont1;
    font-size: 10px;
}

#SubmitPFPButton:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#SubmitPFPButton:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}














/* Form Color Pick */
#UserForm-FormColor { 
    width: 500px;
    height: 300px;
    grid-row: 3; 
    grid-column: 2;
    display: none;
    align-items: center;
    justify-items: center;
    grid-template-rows: 50px 60px 60px;
    grid-template-columns: 1fr 500px 1fr;
}

#UserInfo-Color { 
    grid-row: 2;
    grid-column: 2;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 100px;
    background: none;
    background-color: white;
    cursor: pointer;
}

#UserForm-ColorButton { 
    grid-row: 3;
    grid-column: 2;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
    font-family: MyFont1;
    font-size: 10px;
}

#UserForm-ColorButton:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#UserForm-ColorButton:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}
























/* Round Selections for the Game */
.RoundChoicePage { 
    padding: 0;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 130px 60px 100px 1fr;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#RoundChoice-Header {
    grid-row: 2;
    grid-column: 2;
    font-family: MyFont1;
    font-size: 26px;
    width: 300px;
    text-align: center;
}

#RoundChoice-Input { 
    grid-row: 3;
    grid-column: 2;
    font-size: 24px;
    border: 0;
    text-align: center;
    font-family: MyFont1;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

#RoundChoice-Input::-webkit-outer-spin-button,
::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

#RoundChoice-Button { 
    grid-row: 4;
    grid-column: 2;
    font-family: MyFont1;
    width: 110px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#RoundChoice-Button:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#RoundChoice-Button:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}




















/* Game Page */
.GamePage {
    display: none;
    padding: 0;
    height: 600px;
    width: 600px;
    grid-template-columns: 100px 2fr 100px;
    grid-template-rows: 80px 420px 100px;
    justify-items: center;
}

#GamePage-RoundDisplay { 
    grid-row: 1;
    grid-column: 2;
    font-family: MyFont1;
    font-size: 36px;
}

.GamePage-GameBoardBox { 
    grid-row: 2;
    grid-column: 2;
    width: 400px;
    height: 400px;
}

#GameBoard-BoardButton1, #GameBoard-BoardButton2,
#GameBoard-BoardButton3, #GameBoard-BoardButton4,
#GameBoard-BoardButton5, #GameBoard-BoardButton6,
#GameBoard-BoardButton7, #GameBoard-BoardButton8,
#GameBoard-BoardButton9 {
    width: 130px;
    height: 133px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

#GameBoard-BoardButton1:hover, #GameBoard-BoardButton2:hover, 
#GameBoard-BoardButton3:hover, #GameBoard-BoardButton4:hover, 
#GameBoard-BoardButton5:hover, #GameBoard-BoardButton6:hover, 
#GameBoard-BoardButton7:hover, #GameBoard-BoardButton8:hover, 
#GameBoard-BoardButton9:hover { 
    background-color: rgb(225, 225, 225, 0.5);
}




.GamePage-ProfileBox { 
    grid-row: 3;
    grid-column: 1 / span 3;
    width: 600px;
    height: 80px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 80px;
    box-shadow: 0 0 10px  rgb(0, 0, 0, 0.3);
}

.ProfileBox-User {
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    width: 300px;
    height: 80px;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    font-family: MyFont1;
    font-size: 12px;
    text-align: center;
    justify-items: center;
    align-items: center;
    
}

#UserProfile-UserPFP { 
    grid-column: 1;
    width: 70px;
    height: 70px;
}

#UserProfile-UserName { 
    grid-column: 2;
    font-size: 16px;
    height: 20px;
    width: 100px;
}

#UserProfile-UserScore { 
    grid-column: 3;
    width: 60px;
    font-size: 16px;
}
















.ProfileBox-Computer {
    border-left: 1px solid rgb(0, 0, 0, 0.2);
    width: 300px;
    height: 80px;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    font-family: MyFont1;
    font-size: 12px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#ComputerProfile-ComputerPFP { 
    grid-column: 3;
    width: 70px;
    height: 70px;
}

#ComputerProfile-ComputerName { 
    grid-column: 2;
    font-size: 16px;
    height: 20px;
    width: 100px;
}

#ComputerProfile-ComputerScore {
    grid-column: 1;
    width: 60px;
    font-size: 16px;
}













/* Player Wins Page */
.RoundWonPage { 
    display: none;
    padding: 0;
    height: 600px;
    width: 600px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 100px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#RoundWon-header { 
    grid-column: 2;
    grid-row: 1;
    width: 400px;
    height: 50px;
    font-family: MyFont1;
    font-size: 36px;
    text-align: center;
}

#RoundWon-button { 
    grid-column: 2;
    grid-row: 2;
    height: 50px;
    width: 150px;
    font-family: MyFont1;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    background-color: white;
}

#RoundWon-button:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#RoundWon-button:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}



















/* Player loses Page */ 
.RoundLosePage { 
    display: none;
    padding: 0;
    height: 600px;
    width: 600px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 100px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#RoundLost-header { 
    grid-column: 2;
    grid-row: 1;
    width: 400px;
    height: 50px;
    font-family: MyFont1;
    font-size: 36px;
    text-align: center;
}

#RoundLost-button { 
    grid-column: 2;
    grid-row: 2;
    height: 50px;
    width: 150px;
    font-family: MyFont1;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    background-color: white;
}

#RoundLost-button:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#RoundLost-button:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}






















/* Summary of the Game */
.GameSummaryPage { 
    display: none;
    padding: 0;
    height: 600px;
    width: 600px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr 100px;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-family: MyFont1;
}







/* User Wins */
.GameSummary-UserWins { 
    width: 400px;
    height: 400px;
    grid-column: 2;
    grid-row: 2;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
    align-items: center;
    justify-items: center;
    align-content: center;
}

#UserWins-Header { 
    width: 200px;
    height: 50px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

#UserWins-button { 
    grid-row: 2;
    height: 50px;
    width: 150px;
    font-family: MyFont1;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    background-color: white;
}

#UserWins-button:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#UserWins-button:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}































/* User Loses */

.GameSummary-UserLoses { 
    width: 400px;
    height: 400px;
    grid-column: 2;
    grid-row: 2;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
    align-items: center;
    justify-items: center;
    align-content: center;
}

#UserLoses-Header { 
    width: 200px;
    height: 50px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

#UserLoses-button { 
    grid-row: 2;
    height: 50px;
    width: 150px;
    font-family: MyFont1;
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    background-color: white;
}

#UserLoses-button:hover { 
    background-color: rgb(0, 170, 255, 1);
    color: rgb(0, 0, 0, 0.5);
}

#UserLoses-button:active { 
    background-color: rgb(0, 170, 255, 0.8);
    color: rgb(0, 0, 0, 0.5);
}



















/* Players can play again OR Leave the game entirely */
.PlayAgainPage { 
    padding: 0;
    height: 600px;
    width: 600px;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.PlayAgain-UserOption { 
    padding: 0;
    height: 600px;
    width: 600px;
    grid-row: 1;
    grid-column: 1;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    justify-items: center;
    align-content: center;
}

#PlayAgain-header { 
    grid-column: span 2;
    grid-row: 1;
    width: 200px;
    height: 50px;
    font-family: MyFont1;
    font-size: 32px;
}

#PlayAgain-YesBTN, #PlayAgain-NoBTN { 
    grid-row: 2;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: white;
    font-family: MyFont1;
    cursor: pointer;
}

#PlayAgain-YesBTN{ 
    margin-left: 150px;
}

#PlayAgain-NoBTN{ 
    margin-right: 150px;
}

#PlayAgain-YesBTN:hover { 
    background-color: rgb(0, 183, 255, 0.5);
}

#PlayAgain-YesBTN:active { 
    background-color: rgb(0, 183, 255, 1);
}

#PlayAgain-NoBTN:hover { 
    background-color: rgba(255, 0, 0, 0.5);
}

#PlayAgain-NoBTN:active { 
    background-color: rgba(255, 0, 0, 1);
}

























.PlayAgain-IfYes { 
    padding: 0;
    height: 600px;
    width: 600px;
    grid-row: 1;
    grid-column: 1;
    display: none; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: MyFont1;
}

#IfYes-header { 
    grid-column: span 2;
    grid-row: 1;
    width: 300px;
    text-align: center;
    font-size: 32px;
}

#IfYes-KeepBTN, #IfYes-ChangeBTN { 
    grid-row: 2;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    background-color: white;
    font-family: MyFont1;
    cursor: pointer;
}

#IfYes-KeepBTN { 
    margin-left: 150px;
}

#IfYes-ChangeBTN { 
    margin-right: 150px;
}

#IfYes-KeepBTN:hover { 
    background-color: rgb(0, 183, 255, 0.5);
}

#IfYes-KeepBTN:active { 
    background-color: rgb(0, 183, 255, 1);
}

#IfYes-ChangeBTN:hover { 
    background-color: rgba(255, 0, 0, 0.5);
}

#IfYes-ChangeBTN:active { 
    background-color: rgba(255, 0, 0, 1);
}





















.PlayAgain-IfNo { 
    padding: 0;
    height: 600px;
    width: 600px;
    grid-row: 1;
    grid-column: 1;
    display: none; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: MyFont1;
}

#IfNo-header { 
    grid-row: 1;
    grid-column: span 2;
    font-size: 36px; 
}